<div class="govuk-inset-text data-delay-inset">
 <strong>Data delay </strong> <br> <br>
  There is currently a problem connecting to the trail data. The data was last updated on 31 July 2026 at 12:00. After this time, location data will be missing from the map. <br> <br>

  The tag is still recording. When the delay is resolved, all trail data will be available to search. 
</div>