{% extends "govuk/template.njk" %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}

  {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endblock %}


{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
  {% include "../partials/primaryHeader.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
  <script nonce="{{ cspNonce }}">
    console.log('xxx here xxx ')
    document.addEventListener('DOMContentLoaded', function () {
      if (typeof document.initialiseTelemetry === 'function') {
        document.initialiseTelemetry('{{ applicationInsightsConnectionString }}', '{{ applicationInsightsRoleName }}', '{{ user.username }}')
      }

      console.log('xxx DOM fully loaded and parsed');
      const banner = document.getElementById('technical-updates-banner')
      if (!banner) return

      const currentVersion = banner.getAttribute('data-banner-version');
      const STORAGE_KEY = 'technicalUpdatesBannerDismissedVersion';
      const savedVersion = localStorage.getItem(STORAGE_KEY);
      console.log('xxx currentVersion', currentVersion);
      console.log('xxx savedVersion', savedVersion);
      if (savedVersion === currentVersion) {
        banner.style.display = 'none';
      } else {
          localStorage.setItem(STORAGE_KEY, currentVersion)
      }

      const hideLink = document.getElementById('hide-message')
      hideLink?.addEventListener('click', event => {
        event.preventDefault()
        localStorage.setItem(STORAGE_KEY, currentVersion)
        banner.style.display = 'none'
      })
    })
  </script>
{% endblock %}

{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}
