{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{% set items = [
  {
    text: "Home",
    href: mpopUrl
  }, {
    text: "Cases",
    href: mpopUrl + "/cases",
    active: activeNav == 'cases'
  }, {
    text: "Search",
    href: mpopUrl + "/search"
  }, {
    text: "Alerts",
    href: mpopUrl + "/alerts"
  }

] %}

{{ mojPrimaryNavigation({
  label: "Primary navigation",
  items: items,
  attributes: {
    "data-qa": "primary-navigation"
  }
}) }}
