<div class="govuk-flex">
    <ul class="govuk-list govuk-caption-m inline-list-from-tablet">
        <li>{{ common.profileInfoHeader.crnLabel }}:
            <span data-qa="crn">{{ popData.crn }}</span>
            <span class="govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile">|</span>
        </li>
        <li>{{ common.profileInfoHeader.dateOfBirthLabel }}:
            <span data-qa="headerDateOfBirthValue">{{ popData.dateOfBirth | formatSimpleDate }}</span>
            {% if popData.age or popData.age == 0 %}
                (<span data-qa="headerDateOfBirthAge">{{ popData.age }} years old</span>)
            {% endif %}
        </li>
    </ul>
</div>
