
<header class="profile-info-header">
    <dl class="profile-info-header__subject-details">
        <dt>{{ locale.common.profileInfoHeader.crnLabel }}</dt>
        <dd>{{ popData.crn }} </dd>
        
        <dt>{{ locale.common.profileInfoHeader.dateOfBirthLabel }}</dt>
        <dd>{{ popData.dateOfBirth | formatSimpleDate }} </dd>
        
        <dt>{{ locale.common.profileInfoHeader.tierLabel }}</dt>
        <dd>{{ popData.tier }} </dd>
    </dl>
</header>