{%- from "moj/components/badge/macro.njk" import mojBadge -%}
<div class="profile-info-header" role="region" aria-label="Person details">
    {% include "../partials/profileInfo.njk" %}
    {% if showComplianceBadge %}
      {{ mojBadge({
          text: "Compliance - Not Likely",
          classes: "moj-badge--red moj-badge--large",
          attributes: { "data-qa": "curfew-badge" }
          }) 
      }}
    {% endif %}
</div>
