
<header class="profile-info-header">
    <dl class="profile-info-header__subject-details" data-qa="profile-info-header__subject-details">
        <dt>{{ common.profileInfoHeader.crnLabel }}:</dt>
        <dd>{{ popData.crn }} </dd>
        
        <dt>{{ common.profileInfoHeader.dateOfBirthLabel }}:</dt>
        <dd>{{ popData.dateOfBirth | formatSimpleDate }}</dd>
        
        <dt>{{ common.profileInfoHeader.tierLabel }}:</dt>
        <dd>{{ popData.tier }}</dd>
    </dl>
</header>