$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";

@import './components/header-bar';
@import './components/date-time-picker';
@import './components/primary-header';
@import './components/cases-header';
@import './components/profile-info-header';
@import './overrides/local';
@import './overrides/overview';

@import 'node_modules/@ministryofjustice/hmpps-probation-frontend-components/dist/assets/footer';
@import 'node_modules/@ministryofjustice/hmpps-probation-frontend-components/dist/assets/header';

.app-map {
  height: 500px;
  margin-bottom: 30px;
}

.map-search-form {
  margin-top: 20px;
  background: #F3F2F1;
}

// .map-search-form {
//   display: flex;
// }