$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";

@import './components/header-bar';
@import './components/primary-header';
@import './components/cases-header';
@import './components/profile-info-header';
@import './components/api-error';
@import './components/map';
@import './components//map-search';
@import './components/map-layer-control';
@import './overrides/local';
@import './overrides/overview';
@import './overrides/map-help';

@import 'node_modules/@ministryofjustice/hmpps-probation-frontend-components/dist/assets/footer';
@import 'node_modules/@ministryofjustice/hmpps-probation-frontend-components/dist/assets/header';

