{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% set dateErrorMessage = null %}
{% set hourErrorMessage = null %}
{% set minuteErrorMessage = null %}
{% set timeErrorMessage = null %}

{% if params.errors %}
    {% for error in params.errors %}
        {% if error.field == params.id + '.date' %}
            {% set dateErrorMessage = error.message %}
        {% elif error.field == params.id + '.hour' %}
            {% set hourErrorMessage = error.message %}
        {% elif error.field == params.id + '.minute' %}
            {% set minuteErrorMessage = error.message %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if hourErrorMessage and minuteErrorMessage %}
    {% set timeErrorMessage = { html: hourErrorMessage + "<br>" + minuteErrorMessage } %}
{% elif hourErrorMessage %}
    {% set timeErrorMessage = { text: hourErrorMessage } %}
{% elif minuteErrorMessage %}
    {% set timeErrorMessage = { text: minuteErrorMessage } %}
{% endif %}

<div class="date-time-picker" id="{{ params.id }}-component">
    <div class="{% if dateErrorMessage %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset">
            {{ mojDatePicker({
                id: params.id + "-date",
                name: params.name + "[date]",
                label: {
                    text: params.labelText,
                    classes: "govuk-label--s govuk-margin-bottom-2"
                },
                errorMessage: { text: dateErrorMessage } if dateErrorMessage,
                value: params.value,
                hint: {
                    text: "For example, 17/5/2024"
                }
            }) }}
        </fieldset>
    </div>

    {% if params.timeLabel %}
        {{ govukDateInput({
            id: params.id + "-time",
            fieldset: {
                legend: {
                    text: params.timeLabel,
                    classes: "govuk-fieldset__legend--s govuk-!-padding-top-3"
                }
            },
            errorMessage: timeErrorMessage,
            items: [
                {
                    label: "Hour",
                    id: params.id + "-hour",
                    name: params.name + "[hour]",
                    classes: "govuk-input--width-2" + (" govuk-input--error" if hourErrorMessage else ""),
                    value: params.hour,
                    attributes: { "data-qa": params.id + "-hour" }
                },
                {
                    label: "Minute",
                    id: params.id + "-minute",
                    name: params.name + "[minute]",
                    classes: "govuk-input--width-2" + (" govuk-input--error" if minuteErrorMessage else ""),
                    value: params.minute,
                    attributes: { "data-qa": params.id + "-minute" }
                }
            ],
            hint: {
                text: "For example, 14:55"
            }
        }) }}
    {% endif %}
</div>