.moj-timeline {
    &::after {
    content: "";
    position: absolute;
    left: -4px;
    bottom: 0;
    width: 15px;
    height: 5px;
    background-color: $govuk-brand-colour;
  }

  > .moj-timeline__item:last-child  {
    padding-bottom: 0;
  }
}

