{% extends "partials/layout.njk" %}
{% from "components/moj-api-error/macro.njk" import mojApiError %}

{% set pageTitle = applicationName + " - Cases" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {% include "partials/primaryHeader.njk" %}
{% endblock %}

{% block content %}

  {% if locationAlert and locationAlert.text %}
    {{ mojApiError({
      text: locationAlert.text,
      attributes: {
        "data-qa": "location-data-error"
      }
    }) }}    
  {% endif %}
    
  {% include "partials/casesHeader.njk" %}
  {% include "partials/popAlert.njk" %}
  {% include "partials/casesSubNavigation.njk" %}
  <div class="location-activity">
    <h2 class="govuk-heading-m">{{ locale.title }}</h2>
    <div class="date-time-picker">
      <div class="govuk-grid-row">
        {% include "partials/mapSearchForm.njk" %}
      </div>
    </div>
    {% include "partials/locationMap.njk" %}
    <p class="govuk-body-m"><a href="/map-help?returnUrl={{ currentUrl }}">{{ locale.links.mapHelp }}</a></p>
  </div>
{% endblock %}
