{% extends "partials/layout.njk" %}
{% from "em-map/macro.njk" import emMap %}
{% from "components/moj-api-error/macro.njk" import mojApiError %}

{% set pageTitle = applicationName + " - Cases" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {% include "partials/primaryHeader.njk" %}
{% endblock %}

{% block content %}

  {% if locationAlert and locationAlert.text %}
    {{ mojApiError({
      text: locationAlert.text,
      attributes: {
        "data-qa": "location-data-error"
      }
    }) }}    
  {% endif %}
    
  {% include "partials/casesHeader.njk" %}
  {% include "partials/popAlert.njk" %}
  {% include "partials/casesSubNavigation.njk" %}
  <div class="location-activity">
    <h2 class="govuk-heading-m">Location activity</h2>
    <div class="date-time-picker">
      <div class="govuk-grid-row">
        {% include "partials/mapSearchForm.njk" %}
      </div>
    </div>
    <div class="em-map" 
        data-qa="em-map" 
        role="region" 
        aria-label="Interactive map" aria-describedby="map-instructions"
        tabindex="0">

        <span id="map-instructions" class="govuk-visually-hidden">
          Use arrow keys to pan, plus and minus to zoom.
        </span>
        <div id="map-pan-announce" aria-live="polite" aria-atomic="true" class="govuk-visually-hidden"></div>
        <div id="map-rotation-status" aria-live="polite" aria-atomic="true" class="govuk-visually-hidden"></div>
        {{
          emMap({
            alerts: alerts,
            cspNonce: cspNonce,
            positions: positions,
            controls: {
              scaleControl: 'bar',
              locationDisplay: 'dms',
              rotateControl: 'true',
              zoomSlider: true
            }
          })
        }}
    </div>
    <p class="govuk-body-m"><a href="/map-help">Help with the map</a></p>
  </div>
{% endblock %}