{% extends "../partials/layout.njk" %}


{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% from "components/moj-map/macro.njk" import mojMap %}


{% block content %}

  <h1>This site is under construction...</h1>
  <p>Please check back later when there is content to view.</p>
  <p id="timestamp">The time is currently {{ currentTime }}</p>

  <div class="govuk-!-margin-top-6">
    <h2 class="govuk-heading-m">Map Preview</h2>
    <div class="emdi-map-wrap" style="height:60vh">
      {{ mojMap({
        cspNonce: cspNonce,
        geoData: {
          points: params.geoData.points,
          lines: params.geoData.lines
        },
        usesInternalOverlays: true,

        controls: {
          scaleControl: 'bar',         
          locationDisplay: 'latlon',       
          locationSource: 'pointer',   
          rotateControl: 'auto-hide',  
          zoomSlider: true
        }
      }) }}
    </div>
  </div>

{% endblock %}
