{% extends "../partials/layout.njk" %}
{% extends "moj/template.njk" %}

{% set pageTitle = applicationName + " - Person" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {% include "../partials/primaryHeader.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ person.name if person else 'Person not found' }}</h1>

      {% if person %}
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Person ID</dt>
            <dd class="govuk-summary-list__value">{{ person.id }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Consumer ID</dt>
            <dd class="govuk-summary-list__value">{{ person.consumerId }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">NOMIS ID</dt>
            <dd class="govuk-summary-list__value">{{ person.nomisId }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">PNC ID</dt>
            <dd class="govuk-summary-list__value">{{ person.pncId }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Delius ID</dt>
            <dd class="govuk-summary-list__value">{{ person.deliusId }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">HOR ID</dt>
            <dd class="govuk-summary-list__value">{{ person.horId }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">CEPR ID</dt>
            <dd class="govuk-summary-list__value">{{ person.ceprId or 'Not available' }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Prison ID</dt>
            <dd class="govuk-summary-list__value">{{ person.prisonId }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Date of birth</dt>
            <dd class="govuk-summary-list__value">{{ person.dateOfBirth }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address</dt>
            <dd class="govuk-summary-list__value">
              {{ person.address.street }}<br />
              {{ person.address.city }}<br />
              {{ person.address.postcode }}
            </dd>
          </div>
        </dl>
      {% endif %}
    </div>
  </div>
{% endblock %}
