{% extends "../partials/layout.njk" %}
{% extends "moj/template.njk" %}

{% set pageTitle = applicationName + " - Search" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {% include "../partials/primaryHeader.njk" %}
{% endblock %}

{% block content %}
  <h1>Search</h1>
{% endblock %}
